PORT=3000
NODE_ENV="development" # "development" or "production"

# You can generate secure secrets on the 
# terminal using 
# openssl rand -base64 32
COOKIE_SECRET=""
JWT_SECRET=""

MAIN_DATABASE_URI=""
DEV_DATABASE_URI=""
DB_PORT=